<ion-view view-title="{{title}}">
    <ion-content class="padding">

        <div class="list">
            <label class="item item-input">
                <input type="text" placeholder="Product Name" ng-value="product.name">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Brand" ng-value="product.brand">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Quantity/Weight" ng-value="product.quantweight">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Item Number" ng-value="product.itemno">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Retail Price" ng-value="product.retailprice">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Discount Price" ng-value="product.discountprice">
            </label>
            <label class="item item-input">
                <input type="text" placeholder="Cost" ng-value="product.cost">
            </label>
            <label class="item item-input">
                <textarea placeholder="Description" ng-value="product.description"></textarea>
            </label>
        </div>

    </ion-content>

    <ion-nav-buttons side="right">
        <button class="button" ng-click="save();">Save</button>
    </ion-nav-buttons>

</ion-view>